@import './utils/fonts';
@import './utils/variables';
@import './utils/mixin';
@import './blocks/section-1';
@import './blocks/section-2';
@import './blocks/section-3';
@import './blocks/section-4';
@import './blocks/section-5';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';

    section {
        padding: 0 200px;
    }
}

.btn {
    background-color: $BtnColor;
    color: $PrimaryWhite;
    padding: 11px 28px;
    border: none;

    text-decoration: none;

    cursor: pointer;

        &:hover {
            background-color: $BgColor;
        }

}
