@import './utils/fonts';
@import './utils/variables';
@import './utils/mixin';
@import './blocks/section-1';
@import './blocks/section-2';
@import './blocks/section-3';
@import './blocks/section-4';
@import './blocks/section-5';
@import './blocks/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';

    section {
        padding: 0 200px;
        overflow-x: hidden;
    }
}

.btn {
    @include feature($font-size: 16px, $line-height: 26px, $color: $PrimaryWhite, $font-weight: 500);
    background-color: $BtnColor;
    color: $PrimaryWhite;
    padding: 11px 28px;
    border: 1px solid transparent;
    text-decoration: none;

    cursor: pointer;

        &:hover {
            box-sizing: border-box;
            color: $BtnColor;
            border: 1px solid $BtnColor;
            background-color: transparent
        }

}
