.section-4 {
    width: 100%;
    

    .first-p {
        margin-top: 90px;
        font-weight: 600;
        font-size: 31px;
        line-height: 140%;
    }

    .last-p {
        margin-top: 20px;
        margin-bottom: 35px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #000000;
        opacity: 0.7;
    }

    .container-1 {

        height: 572px;
        width: 100%;
        background-image: url(/Assets/images/bgimg.jpg);
        background-position: center;
        background-size: cover;
        @include display;

        .info {
            b {
                color: $PrimaryWhite;
                font-weight: 600;
                font-size: 31px;
                line-height: 140%;
            }
    
            p &:first-child {
                margin-top: 25px;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: #FFFFFF;
                opacity: 0.7;
            }
    
            p {
                margin-top: 30px;
                margin-bottom: 30px;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.7;
    
                span {
                    font-size: 22px;
                }
            }
        }
       

    }   

    .container-2 {
        height: 572px;
        width: 100%;
        @include display($justify-content: space-between);

        .textcontainer {
            position: relative;
            margin-top: -100px;
        }
        
        // display: flex;

        // .imgcontainer {
        //     height: 100%;
        //     width: 50%;
        // }

        // .textcontainer {
        //     height: 100%;
        //     width: 50%;
        // }
    }

}